{% extends 'gestao_leitura/base.html' %}
{% block conteudo %}


<div class="container">
        
    <form method="GET">
        {% csrf_token %}
        <hr>
        <h1 >Bem vindo ao Gestor de leitura!</h1>
        <hr>
            
        {% if user.is_authenticated %}
            
        <a class="btn btn-primary" href="{% url 'minhas_leituras' %}" >Ir para minhas leituras </a>
        <hr>
        <h2>Deseja sair?</h2>
        <hr>
        <a class="btn btn-warning" href="{% url 'logout' %}" >Sair </a>
        {% else %}
        <hr>
        <h3>Deseja fazer o login?</h3>
        <hr>
        <a class="btn btn-primary" href="{% url 'login' %}" >Entrar </a>
        {% endif %}
    </form>
</div>

{% endblock %}