{% extends 'gestao_leitura/base.html' %}
{% block conteudo %}


<div class="container">
        
    <form method="GET">
        {% csrf_token %}
        <hr>
        <h1 >Bem vindo ao Gestor de leitura!</h1>
        <hr>
            
        {% if user.is_authenticated %}
            
        <button class="btn btn-primary" ><a style='color:white;' href="{% url 'minhas_leituras' %}" >Ir para minhas leituras </a></button>
        <hr>
        <h2>Deseja sair?</h2>
        <hr>
        <button class="btn btn-warning"><a style='color:white;' href="{% url 'logout' %}" >Sair </a></button>
        {% else %}
        <hr>
        <h3>Deseja fazer o login?</h3>
        <hr>
        <button class="btn btn-primary"><a style='color:white;'  href="{% url 'login' %}" >Entrar </a></button>
        {% endif %}
    </form>
</div>

{% endblock %}