{% extends 'gestao_leitura/base.html' %}
{% block conteudo %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Confirmar exclusão</title>
</head>
<body>
    
<div class="container">
    <form method='POST'>
        {% csrf_token %}
        <h1> Confirmar exclusao de leitura</h1>
        <button class="btn btn-default"> <a href="{% url 'minhas_leituras' %}">Cancelar</a></button>
        <button class="btn btn-danger" type="submit">Confirmar</button>
    </form>
</div>
</body>
</html>
{% endblock %}