{% extends 'gestao_leitura/base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>logout</title>
</head>
<body>    
<div class="container">
    <h1>Você saiu do sistema</h1>
    <form method="POST">
        {% csrf_token %}
        <a href="{% url 'home' %}">Voltar para pagina inicial</a>
        <a href="{% url 'login' %}">Deseja fazer o login novamente?</a>
    </form>
    
</div>
</body>
</html>
{% endblock %}