{% extends 'gestao_leitura/base.html' %}
{% load crispy_forms_tags %}
{% block conteudo %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro</title>
</head>
<body>    
<div class="container">
    <h1>Cadastrar novo usuario</h1>
    <form  method="POST">
        {% csrf_token %}
        {{ formulario | crispy }}
        <button type="submit" class="btn btn-primary">Criar novo usuario</button>
        <a href="{% url 'login' %}">Já possui um usuario? Clique aqui...</a>
    </form>
    
</div>
</body>
</html>
{% endblock %}